In [23]:
import sqlite3
from datetime import datetime

def conectar():
    try:
        con = sqlite3.connect('curso.db')  
        return con
    except sqlite3.Error as err:
        return None

In [24]:
def criar_tabelas():
    con = conectar()
    if con:
        cursor = con.cursor()
        tabela_curso = """
            CREATE TABLE IF NOT EXISTS curso(
                cursoID INTEGER PRIMARY KEY,
                name TEXT,
                studyArea TEXT
            )
        """
        
        tabela_student = """
            CREATE TABLE IF NOT EXISTS student(
                studentID INTEGER PRIMARY KEY,
                cursoID INTEGER,
                name TEXT,
                created DATETIME,
                age INTEGER,
                cpf TEXT,
                FOREIGN KEY (cursoID) REFERENCES curso(cursoID)
            )
        """
        try:
            cursor.execute(tabela_curso)
            cursor.execute(tabela_student)
            con.commit()
        except sqlite3.Error as err:
            pass
        finally:
            cursor.close()
            con.close()

criar_tabelas()

In [25]:
def inserir_student():
    studentID = int(input("Digite o ID do aluno: "))
    cursoID = int(input("Digite o ID do curso: "))
    name = input("Digite o nome do aluno: ")
    created = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
    age = int(input("Digite a idade do aluno: "))
    cpf = input("Digite o CPF do aluno: ")

    con = conectar()
    if con:
        cursor = con.cursor()
        sql = 'INSERT INTO student (studentID, cursoID, name, created, age, cpf) VALUES (?, ?, ?, ?, ?, ?)'
        args = (studentID, cursoID, name, created, age, cpf)
        try:
            cursor.execute(sql, args)
            con.commit()
            print(f"Aluno {name} inserido com sucesso.")
        except sqlite3.Error as err:
            print("Erro ao inserir aluno.")
        finally:
            cursor.close()
            con.close()

inserir_student()

Aluno alex inserido com sucesso.

In [27]:
def listar_students():
    con = conectar()
    if con:
        cursor = con.cursor()
        sql = 'SELECT studentID, name FROM student'
        try:
            cursor.execute(sql)
            students = cursor.fetchall()
            if students:
                for student in students:
                    print(f"ID: {student[0]} | Nome: {student[1]}")
            else:
                print("Nenhum aluno encontrado.")
        except sqlite3.Error as err:
            print("Erro ao listar alunos.")
        finally:
            cursor.close()
            con.close()

listar_students()

ID: 1 | Nome: alex

In [28]:
def atualizar_student():
    studentID = int(input("Digite o ID do aluno para atualizar: "))
    novo_nome = input("Digite o novo nome do aluno: ")
    nova_idade = int(input("Digite a nova idade do aluno: "))

    con = conectar()
    if con:
        cursor = con.cursor()
        sql = 'UPDATE student SET name = ?, age = ? WHERE studentID = ?'
        args = (novo_nome, nova_idade, studentID)
        try:
            cursor.execute(sql, args)
            con.commit()
            print(f"Aluno com ID {studentID} atualizado com sucesso.")
        except sqlite3.Error as err:
            print("Erro ao atualizar aluno.")
        finally:
            cursor.close()
            con.close()

atualizar_student()

Aluno com ID 1 atualizado com sucesso.

In [29]:
def excluir_student():
    studentID = int(input("Digite o ID do aluno para excluir: "))

    con = conectar()
    if con:
        cursor = con.cursor()
        sql = 'DELETE FROM student WHERE studentID = ?'
        args = (studentID,)
        try:
            cursor.execute(sql, args)
            con.commit()
            print(f"Aluno com ID {studentID} excluído com sucesso.")
        except sqlite3.Error as err:
            print("Erro ao excluir aluno.")
        finally:
            cursor.close()
            con.close()

excluir_student()

Aluno com ID 1 excluído com sucesso.

In [30]:
def inserir_curso():
    cursoID = int(input("Digite o ID do curso: "))
    name = input("Digite o nome do curso: ")
    studyArea = input("Digite a área de estudo do curso: ")

    con = conectar()
    if con:
        cursor = con.cursor()
        sql = 'INSERT INTO curso (cursoID, name, studyArea) VALUES (?, ?, ?)'
        args = (cursoID, name, studyArea)
        try:
            cursor.execute(sql, args)
            con.commit()
            print(f"Curso {name} inserido com sucesso.")
        except sqlite3.Error as err:
            print("Erro ao inserir curso.")
        finally:
            cursor.close()
            con.close()

inserir_curso()

Curso curso inserido com sucesso.

In [33]:
def listar_cursos():
    con = conectar()
    if con:
        cursor = con.cursor()
        sql = 'SELECT cursoID, name, studyArea FROM curso'
        try:
            cursor.execute(sql)
            cursos = cursor.fetchall()
            if cursos:
                for curso in cursos:
                    print(f"ID: {curso[0]} | Nome: {curso[1]} | Área de Estudo: {curso[2]}")
            else:
                print("Nenhum curso encontrado.")
        except sqlite3.Error as err:
            print("Erro ao listar cursos.")
        finally:
            cursor.close()
            con.close()

listar_cursos()

ID: 1 | Nome: math atualizado | Área de Estudo: math atualizado

In [32]:
def atualizar_curso():
    cursoID = int(input("Digite o ID do curso para atualizar: "))
    novo_nome = input("Digite o novo nome do curso: ")
    nova_area_estudo = input("Digite a nova área de estudo do curso: ")

    con = conectar()
    if con:
        cursor = con.cursor()
        sql = 'UPDATE curso SET name = ?, studyArea = ? WHERE cursoID = ?'
        args = (novo_nome, nova_area_estudo, cursoID)
        try:
            cursor.execute(sql, args)
            con.commit()
            print(f"Curso com ID {cursoID} atualizado com sucesso.")
        except sqlite3.Error as err:
            print("Erro ao atualizar curso.")
        finally:
            cursor.close()
            con.close()

atualizar_curso()

Curso com ID 1 atualizado com sucesso.

In [34]:
def excluir_curso():
    cursoID = int(input("Digite o ID do curso para excluir: "))

    con = conectar()
    if con:
        cursor = con.cursor()
        sql = 'DELETE FROM curso WHERE cursoID = ?'
        args = (cursoID,)
        try:
            cursor.execute(sql, args)
            con.commit()
            print(f"Curso com ID {cursoID} excluído com sucesso.")
        except sqlite3.Error as err:
            print("Erro ao excluir curso.")
        finally:
            cursor.close()
            con.close()

excluir_curso()

Curso com ID 1 excluído com sucesso.