In [73]:
x = 5
y = int(input('Digite um número'));

x + y
if x >= 5 and y > 5:
    print('maior ou igual a 5')
elif x == 5 or y == 5:
    print('igual a 5')
else:
    print('menor que 5')

ValueError: invalid literal for int() with base 10: ''

### Listas

In [ ]:
lista = []
type(lista)
dir(lista)

lista.append(1)
lista.append(5)
lista

lista = [1, 5, 'Ana', 'Bia']
lista
type(lista)
type(lista[2])

lista[1:]

lista.append('Andre')
lista

lista.append(['Python', 'Java', 'C', 'C++'])
lista

lista[1:]
lista[1:][4][1]
lista[1:][4][1][2]

lista

'Ana' in lista
'Python' in lista
'Python' in lista[5]

lista
lista.remove(5)
lista.index('Bia')
lista.insert(2, 'Chico')
lista

[1, 'Ana', 'Chico', 'Bia', 'Andre', ['Python', 'Java', 'C', 'C++']]

In [ ]:
cores = ('Verde', 'Amarelo', 'Azul', 'branco')
type(cores)
cores[0]
cores[-1]
cores

('Verde', 'Amarelo', 'Azul', 'branco')

In [ ]:
pessoa = {'nome': 'Prof(a). Ana', 'idade': 38, 'cursos': ['Inglês', 'Português']}
pessoa['idade']
pessoa.keys()
pessoa.values()
x = list(pessoa.items())
type(x)
x[1]
x[1][1]

pessoa['cursos']
pessoa['cursos'][1]
pessoa['cursos'][1][1:4]
pessoa['cursos'][1][1:4][2]

pessoa['idade'] = 32

pessoa.update({'idade': 40, 'Sexo': 'Feminino'})
pessoa

{'nome': 'Prof(a). Ana',
 'idade': 40,
 'cursos': ['Inglês', 'Português'],
 'Sexo': 'Feminino'}

In [ ]:
pessoas = []

pessoas.append({'nome': 'Prof(a). Ana', 'idade': 38, 'cursos': ['C#', 'Python']})
pessoas.append({'nome': 'Andre', 'idade': 37, 'cursos': ['C#', 'Python', 'C', 'C++']})
pessoas.append({'nome': 'Guilherme', 'idade': 27, 'cursos': ['Python', 'Java', 'Node']})

pessoas

[{'nome': 'Prof(a). Ana', 'idade': 38, 'cursos': ['C#', 'Python']},
 {'nome': 'Andre', 'idade': 37, 'cursos': ['C#', 'Python', 'C', 'C++']},
 {'nome': 'Guilherme', 'idade': 27, 'cursos': ['Python', 'Java', 'Node']}]

In [77]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [81]:
for x in range(1, 11):
    for y in range(1, 11):
        print(f'{x} * {y} = { x * y}')

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [85]:
pessoas = []

pessoas.append({'nome': 'Prof(a). Ana', 'idade': 38, 'cursos': ['C#', 'Python']})
pessoas.append({'nome': 'Andre', 'idade': 37, 'cursos': ['C#', 'Python', 'C', 'C++']})
pessoas.append({'nome': 'Guilherme', 'idade': 27, 'cursos': ['Python', 'Java', 'Node']})

for p in pessoas:
    print('A pessoas ' + p['nome'] + ' tem ' + str((p['idade'])) + ' anos')
    for curso in p['cursos']:
        print('- ' + curso)

A pessoas Prof(a). Ana tem 38 anos
- C#
- Python
A pessoas Andre tem 37 anos
- C#
- Python
- C
- C++
A pessoas Guilherme tem 27 anos
- Python
- Java
- Node